---
layout: splash
---

<div class="initial-content">
   {{ content }}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent News" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<h3 class="archive__subtitle">Organized by</h3>

<a href="https://www.circl.lu/"><img src="{{ site.url }}/images/logos/circl.png" /></a>

<h3 class="archive__subtitle">Sponsored by</h3>

<a href="https://www.sans.org/emea"><img src="{{ site.url }}/images/logos/sans-emea.png" /></a>

